*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top, rgba(4, 9, 30, 0.315) 0%, rgba(4,9,30,0.315) 100%),url(/imagenes/fachada.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;/*para dejar la imagen fija*/
    position: relative;
}
.header.menu{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top, rgba(4, 9, 30, 0.315) 0%, rgba(4,9,30,0.315) 100%),url(/imagenes/fachada.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;/*para dejar la imagen fija*/
    position: relative;
}


nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
/* la lista del menu esta arriba */
.nav-links ul li{
    list-style: none;
    display:  inline-block;
    padding: 8px 12px;
    position: relative;
}
/*para darle color a el menu*/
.nav-links ul li a {
    color:aliceblue;
    text-decoration: none;
    font-size: 15px;
}
/*aparece un color cuando pasa el cursor*/
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #36f456;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
/*--------------------------------------- cafes ------------------------------*/
/*alinear el texto al centro y pone margen*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 5%;
}
h1{
    font-size: 36px;
    font-weight: 600;/*es el grueso de la letra*/
}
/*da color a las p*/
p{
    color: rgb(8, 98, 243);
    font-size: 14px;
    line-height: 22px;
    padding: 10px;
}
/*es para dividir la informacion*/
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
/*para que salgan los cuadros de color azul*/
.course-col{
    flex-basis: 31%;
    background: #0eb6cc;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
/*imagenes del menu*/
img{
    width: 200px; height: 200px;
  }
/*---------------------fondo del body----------------------------*/
body{
    background-image: url("/imagenes/fondo.jpg");
    }
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
/*es para la sombra cuando se seleccciona el cuadro*/
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(182, 51, 123, 0.7);
/*20px grosor de la sombra*/
}
/*----------------instalaciones-----------------------------*/
.campus{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{/*darle forma a las imagenes*/
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    height: 100%;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    transition: 0.5s;
}
.layer:hover{/*para que salga de color cuando pacemos el mouse por encima de la imagen*/
    background: rgba(240, 128, 128,0.7);
    
}
.layer h3{/*aparece el texto al pasar por la imagen*/
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
 left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #f7b5c8;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{/*da formato a la imagen*/
    height: 100px;
    width: 100px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonial-col p{
    padding: 0;
}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonial-col .fa{
    color:#3a110e
}
.testimonial-col .fa{
    color:#f44336
}
/*--------------------------footer --------------------------*/
.footer{
    width: 80%;
    text-align: center;
    padding: 30px 0;
    margin: auto;
    background: #93dfe9;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #3936f4;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}