body{
    background-color: rgb(44, 35, 122);
    font-family: sans-serif;
  }
  
  .container{
    margin: auto;
    background-color: rgb(133, 189, 253);
    width: 1100px;/*ancho del cuadro*/
    padding: 35px;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 800px;
    height: 420px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:rgb(243, 241, 241);
  }
  
  ul.slider li img{
    width: 137%;/*ancho de la imagen*/
    height: 420px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 5px;/*espacio entre los numeros y la imagen*/
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(17, 181, 247);
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
  }